// Colors

$black: #000000;

$gray1: #C9C9C9;
$gray2: #9FA2B4;
$gray3: #8E8E8E;

$violet: #9374EB;
$pink: #E69FD6;
//$pastel: #efebe1;
$pastel: #ebdabe;

// Font

$fontsize: 14px; // Body Font Size
$lineheight: 20px; // Body Line Height
$textcolor: $black; // Text Color
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$roboto: 'Roboto', sans-serif; // Roboto Font Family